# Python
__pycache__/
*.py[codz]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test / coverage
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.hypothesis/

# Environments
.env
.venv
env/
venv/

# Type checkers
.mypy_cache/
.pytype/
.pyre/

# Ruff
.ruff_cache/

# Ignore all documentation
docs/*
!docs/theory/
!docs/templates/
!docs/build_docs.py

# macOS
.DS_Store
