{% extends "default/module.html.jinja2" %}

{% block nav_title %}
<h2><a href="{{ "../" * module.modulename.count(".") }}tiqs.html">TIQS</a></h2>
<p style="font-size: 0.85em; opacity: 0.8; margin: 0;">
Trapped Ion Quantum Simulator
</p>
{% endblock %}

{% block nav_submodules %}
<ul>
{% for mod in all_modules.values() | sort(attribute="fullname") %}
{% if mod.fullname.startswith("tiqs.") and mod.fullname.count(".") == 1 %}
  <li><a href="{{ "../" * module.modulename.count(".") }}tiqs/{{ mod.name }}.html">{{ mod.name }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endblock %}
